@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Arvo|Lalezar');

/*
font-family: 'Arvo', serif; - Body
font-family: 'Archivo Black', sans-serif; - Sub-heading
font-family: 'Lalezar', cursive; - Heading
*/
.App, html {
    background: #003261;
    background-position: fixed;
}
.homeWrapper {
    background-color: #CB3E41;
    background-blend-mode:darken;
    height: 500px;
    margin-top: -50px;
}
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: black;
    line-height: 500px;
    text-align: center;
    background: white;
    background: -webkit-radial-gradient(#E8D5BE, #E0BF96);
    background: -o-radial-gradient(#E8D5BE, #E0BF96);
    background: -moz-radial-gradient(#E8D5BE, #E0BF96);
    background: radial-gradient(#E8D5BE, #E0BF96);
    z-index: -2;
    margin: auto;
    border-width: 6px;
    border-color: black;
    border-style: solid;
    margin-top: 100px;
}
.circle_inner {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    line-height: 500px;
    z-index: 1;
    margin: auto;
    border-width: 5px;
    border-color: #003261;
    border-style: dotted;
    margin-top: -475px;
}
.PageCont {
    z-index: 1;
    margin-top: -500px;
}
.body {
    margin-top: 100px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.body h2 {
    font-family: 'Lalezar', cursive;;
    font-size: 2.75em;
    color:#CB3E41;
    text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}
.body p {
    font-family: 'Arvo', serif;;
    color: #003261;
    margin-top: -50px;
    font-size: 10px;
}
.torches {
    padding-top: 0px;
}
.torches p {
    margin: 15px;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: center;

}
.Wrapper {
    background-color: #003261;
}
.awardWrapper {
    margin: 10px 90px 30px 90px;
    background: -webkit-radial-gradient(#E8D5BE, #E0BF96);
    background: -o-radial-gradient(#E8D5BE, #E0BF96);
    background: -moz-radial-gradient(#E8D5BE, #E0BF96);
    background: radial-gradient(#E8D5BE, #E0BF96);
    border: 3px solid white;
    padding: 10px;
}
.Wrapper h1 {
    text-align: center;
    font-family: 'Lalezar', cursive;
    color: white;
    font-size: 3em;
    margin-top: 20px;

}
.awardWrapper h1 {
    text-align: center;
    font-family: 'Lalezar', cursive;
}
.awardWrapper h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
}
.awardWrapper p, a, li {
    font-family: 'Arvo', serif;
}
#scroller {
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 2;
}
#scroll_more {
    bottom: 10px;
    left: 10px;
    position: fixed;
    z-index: 2;
}
.homeContent {
    background-color: #003261;
    padding-bottom: 10px;
}
.contentWrapHome {
    margin: 10px 90px 30px 90px;
}
#homeRow {
    padding: 15px;
    background: -webkit-radial-gradient(#E8D5BE, #E0BF96);
    background: -o-radial-gradient(#E8D5BE, #E0BF96);
    background: -moz-radial-gradient(#E8D5BE, #E0BF96);
    background: radial-gradient(#E8D5BE, #E0BF96);
    border: 3px solid white;
}
.break {
    opacity: .45;
    min-height: 375px;
}
.homePageWrapper {
    background-image: url('./pics/dreambigger.jpg');
    background-repeat:no-repeat;
    background-position: bottom;
    background-size:contain;
    background-attachment: fixed;
}
.home-row {
    z-index: 2;
}
.home-div h1 {
    font-family: 'Lalezar', cursive;
}
.footer {
    background: -webkit-radial-gradient(#E8D5BE, #E0BF96);
    background: -o-radial-gradient(#E8D5BE, #E0BF96);
    background: -moz-radial-gradient(#E8D5BE, #E0BF96);
    background: radial-gradient(#E8D5BE, #E0BF96);
    border: 3px solid white;
    top: 8px;
}
.footer h1 {
    font-family: 'Lalezar', cursive;
}
.footer p {
    font-family: 'Arvo', serif;
}
.no_style {
    text-decoration: none;
    color: inherit;
    text-align: center;
    align-self: center !important;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
}
.no_style:hover {
    text-decoration: none;
    color: inherit;
}
.ProfessionalCup {
    color: white;
    text-align: center;
}
